/* h1{

    color: chartreuse;
} */


 /*  when you are using id use (#) when you are using class use (.) */
/* #mypra{
  color: blue;
  font-size: medium;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */


/*  class here  */
/* .myclass{
 color: coral;

} */


#main{

  display: inline-flex;
   padding-left: 80px;
}
 #box1{

   width: 250px;
    height: 250px;
     background-color: yellow;
      margin:  10px;
       animation: 10s linear boxanimate;
 }
 #box2{

  width: 250px;
   height: 250px;
    background-color: red;
    margin:  10px;
    animation: 10s linear boxanimate;


} #box3{

  width: 250px;
   height: 250px;
    
   background-color: gray;
   margin:  10px;
   animation: 10s linear boxanimate;

}

#box4{

  width: 250px;
   height: 250px;
    
   background-color: black;
   margin:  10px;
   animation: 5s linear boxanimate;


}


  @keyframes boxanimate{
    0%{  transform: rotate(90deg);}
     25%{transform: rotate(120deg)}
      50%{transform: rotate(180deg)}
       75%{transform: rotate(270deg)}
       100%{transform: rotate(360deg)}

  }


/* #main2{

  display: inline-flex;
   padding-left: 80px;
}
 #box5{

   width: 250px;
    height: 250px;
     background-color: yellow;
      margin:  10px;
 }
 #box6{

  width: 250px;
   height: 250px;
    background-color: red;
    margin:  10px;

} #box7{

  width: 250px;
   height: 250px;
    
   background-color: gray;
   margin:  10px;

}

#box8{

  width: 250px;
   height: 250px;
    
   background-color: black;
   margin:  10px;

} */

/* 

 #loading{
   width: 100px;
    height: 50px;
     background-color: chartreuse;
      animation: 10s linear myanimiation;

 } */

 /* @keyframes myanimiation{
  from{ width: 300px; background-color: black;}
   to{ width: 1100px; background-color: yellow;}
 }
 */



 /* @keyframes myanimiation{
  0%{ width: 100px; background-color: turquoise;}
 25%{ width: 400px; background-color: yellow;}
  50%{ width: 600px; background-color: black;}
   75%{ width: 800px; background-color: chartreuse;}
    100%{ width:1200px ; background-color: red;}
 } */
